html {
	scroll-behavior: smooth;
	// scroll padding to prevent fixed header from covering content
	scroll-padding-top: 160px;
}
body {
	@apply text-base leading-normal antialiased text-blue-dark;
	font-family: "Roboto Flex", sans-serif;
}

.container {
	@apply max-w-screen-2xl;
}

.page {
	@apply pt-4;
}

a {
	transition: color 0.25s ease, background-color 0.25s ease;
}

.nav-link.active {
	@apply bg-blue-dark text-white;
}
